<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hola esto es un template de Django, clase 18!!! --- 23/02/2023</h1>
    <p>
        Hola {{Nombre}}, {{Apellido}}, como estas.
    </p> 
    <h2> Notas del alumno </h2>
    <p>
        {% for nota in notas%}
            {%if nota > max_desaprobado %}
                <p style="color:green">{{nota}}</p>
            {% else %}
                <p style="color:red">{{nota}}</p>
            {% endif %}
        {% endfor %}       
</body>
</html>